@model Motor
@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('https://mocah.org/mocahbig/397916-wallpaper-kda-ahri-all-out-more-lol-8k-hd.jpg');
        background-size: cover;
    }
</style>

<h1>@Html.DisplayFor(modelItem => Model.Nama)</h1>
<table class="table">
    <tr>
        <td>Merek</td>
        <td>@Html.DisplayFor(modelItem => Model.Merek)</td>
    </tr>
    <tr>
        <td>Harga</td>
        <td>@Html.DisplayFor(modelItem => Model.Harga)</td>
    </tr>
</table>

<form asp-controller="Movie" asp-route-id="@Model.Id">
    <button class="btn btn-primary" asp-controller="Motor" asp-action="Index">Beli</button>
    <a class="btn btn-danger" asp-controller="Motor" asp-action="Index">Kembali</a>
</form>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Jangan Lupa</strong> Masukkan nomor telepon anda di halaman profil.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>