@{
    ViewData["Title"] = "Belanja";
}

<div>
    <h1 class="display-4">Daftar Motor : </h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Merek</th>
                <th>Harga</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nama</td>
                    <td>@item.Merek</td>
                    <td>@item.Harga</td>
                    <td>
                        <a asp-controller="Motor" asp-action="Beli">Beli</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>