@{
    ViewData["Title"] = "Belanja";
}

<div>
    <h1 class="display-4">Daftar Motor : </h1>
    
    <style>
    body {
        background-image: url('https://fashionsista.co/wallpaper/wallpaper/20220508/15-background-warna-biru-tua-wallpaper-polos-gambar-kitan-preview.jpg');
        background-size: cover;
    }
</style>
    <table class="table">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Merek</th>
                <th>Harga</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nama</td>
                    <td>@item.Merek</td>
                    <td>@item.Harga</td>
                    <td>
                        <a asp-controller="Motor" asp-action="Beli" asp-route-id="@item.Id">Beli</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>