@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-2">Toko Motor Kawasaki</h2>
    <h1>AYO CEPAT!! SEMUA PRODUK TINGGAL 1</h1>
    <p>semua pembayaran COD agar anda bisa testimoni juga</p>
    <p>Silahkan Klik 'Belanja' Jika Anda Berminat <a class="nav-link text-dark" asp-area="" asp-controller="Motor" asp-action="Index">Belanja</a></p>
    <h1>Jika Tidak</h1>
    <h1>Tombol LOGOUT Ada di Atas</h1>
</div>
