@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('https://i.redd.it/t3hc3q9uk1w51.jpg');
        background-size: cover;
    }
</style>

<div class="card text-center">
  <div class="card-header">
    Beranda
  </div>
  <div class="card-body">
    <h5 class="card-title">Selamat Datang</h5>
    <p class="card-text">Hanya Menjual Motor Mahal Duit Lu Dikit Gausah Diklik</p>
    <a style="color:White;" type="button" class="btn btn-secondary" asp-area="" asp-controller="Motor" asp-action="Index">Belanja</a>
  </div>
  <div class="card-footer text-muted">
    diedit 1 hari yang lalu
  </div>
</div>