@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('https://2.bp.blogspot.com/-JzgYumO-qCA/VynqUAqXYCI/AAAAAAAAXaA/WFfC5gcXxAUKmG5GNFUJGQPZD9kLygfdQCKgB/s1600/motor%2Bantik.jpg');
        background-size: cover;
    }
</style>

<div class="text-center">
   <h1 style="color:White;" class="display-2">Toko Motor</h1>
    <div type="button" class="btn btn-secondary">
        <a style="color:White;" asp-area="" asp-controller="Motor" asp-action="Index">Belanja</a>
    </div>
</div>
