@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('https://obs.line-scdn.net/0hxFOBqrVOJ2lyOw0MSuxYPkhtJAZBVzRqFg12dyJVeV0NCmM9SlRpB1E8e1BWW2A3HA9tC149PFhXCTQ7HFtp/w644');
        background-size: cover;
    }
</style>

<div class="text-center">
    <h2 class="display-2">Toko Motor</h2>
    <div class="alert alert-success" role="alert">
        <a class="nav-link text-dark" asp-area="" asp-controller="Motor" asp-action="Index">Belanja</a>
    </div>
</div>
