@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color:White;">Privasi Polisi</h1>


<style>
    body {
        background-image: url('https://c4.wallpaperflare.com/wallpaper/157/840/961/pink-landscape-japan-nature-wallpaper-preview.jpg');
        background-size: cover;
    }
</style>
<p style="color:White;">Jangan Macam-Macam Anda Ya!!</p>
