@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color:White;">Privasi Polisi</h1>


<style>
    body {
        background-image: url('https://hdwallpaperim.com/wp-content/uploads/2017/08/22/87456-anime-5_Centimeters_Per_Second-Makoto_Shinkai.jpg');
        background-size: cover;
    }
</style>
<p style="color:White;">Jangan Menipu!! Siap Siap ada Kang Bakso</p>
